* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;  /*padding and border are included within the width and height,otherwise width or height = width or height + padding or border */
}
body {
    font-size: calc(8px + 1vw);
    color: whitesmoke;
    background-image: url("./loginbackground.jpg");
    background-size: cover;
    backdrop-filter: blur(2px);
}
.container {
    display: flex;
    /* horizontally center */
    justify-content: center; 
    align-items: center;
}
    
.form-container {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;  /* vertically center */
    width: 100%;
    border: 1px solid red;
}
form{
    width: 90%;
}
.container1 {
    width: 30%;;
    padding: 5px;
    margin: 15px;               /*margin properties are used to create space around elements, outside of any defined borders. */
    border-top: 3px solid rgb(116, 100, 100);    
    border-bottom: 3px solid rgb(70, 59, 59); /*border : width   style(dotted,solid,dashed etc)  color */
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px  rgb(252, 251, 251);
}

h2 {
    
    font-size: calc(16px + 2vw);
    text-align: center;
    text-decoration: underline;
    margin-bottom:3px ;
    background: linear-gradient(to right ,red,blue);
    background-clip: text;
    color: transparent;
}
.input-name{
    padding: 7px;
    position: relative;
    width: 100%;
}

input::placeholder {
    font-size:calc(1px + 1vw) ;
}

.inp-typ1 ,.inp-addr{
    outline: none;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
}



input[type='radio']{
    height: 20px;
    width: 8%;
}


.inp-addr {
    margin: 5px ;
}
.redStar::after{
    content: " *";
    color: red;
}
.err-msg {
    font-size: calc(2px + 1vw);
    font-family:sans-serif;
    font-style: italic;
    margin-left: 3%;
    color: red;
}
.password-toggle-icon {
    margin-right: 12px;
    position: absolute;
    top: 59.5%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer; 
}
  
.eye {
    font-size: calc(5px + 1vw);
    line-height: 1;
    color: #333;
}
input[type='password'] {
    width: 98%;
}

.eye:hover {
    color: #b98888;
}
  
label{
    font-weight: bold;
    padding: 2px;
}
#check {
   margin-left: 25px;
   font-size: calc(3px + 1vw);
}

/* to make each input field in center */

.login {
    width: 98%;
    font-size: calc(2px + 1.5vw);
    height: 35px;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    background: linear-gradient(45deg,#4f1919,#ff3333);
    margin-top: calc(2px + 1vw);
    margin-bottom: calc(2px + 0.5vw);
    box-shadow: 0px 0px 4px 4px rgb(128, 119, 119);
}
.login:hover {
    background: linear-gradient(45deg,#ff3333,#4f1919);
    box-shadow: 0px 0px 6px 6px rgb(128, 119, 119);
    transform: scale(1.1);
}
#account {
    margin-left: 15px;
    font-size: calc(3px + 1vw);
    margin-bottom: calc(3px + 1vw);
}
#account a{
    text-decoration: none;
}

.input-address, .input-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input { 
    border: none;
}

input:hover {
    box-shadow: 0px 0px 20px 3px whitesmoke;
}



/* Media Queries to have an alternate CSS section right inside your style sheet. */
@media screen and (max-width:500px) {
    .container {
      flex-direction: column;
    }
    .container1,.container2 {
        width: 100%;
    }
    .container {
        margin-right: 25px;
    }
}

.submitPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    background-color:bisque;
    color: black;
    box-shadow: 10px 10px 5px rgb(138, 135, 135);
    width: 25%;
    height: calc(30px + 15vw);
    border: 2px solid black;
    z-index: 2;
   
}

.submitContent {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: calc(1px + 0.5vw);
    padding: calc(1px + 0.5vw);
}
#successIcon {
    position: relative;
    left: 35%;
    font-size: calc(5px + 5vw);
    margin: calc(1px + 0.2vw);
    padding: calc(1px + 0.2vw);
}
.submitContent>h4,p {
    padding: calc(1px + 0.5vw);
}
.submitContent>p {
    font-size: calc(3px + 1vw);
}

.errorEffect {
    border: 2px solid red;
    box-shadow: 0px 0px 20px 3px red;
}
.recomandation {
    color: #fdd607;
    font-size: calc(1px + 0.9vw);
    font-family: sans-serif;
    display: none;
}

    /* Wrapper and fullwidth is to fix the position of icon */
.wrapper{
    position: relative;
}
.fullWidth{
    width: 98%;
}
.warning {
    font-size: calc(1px + 1vw);
    margin-right: 12px;
    position: absolute;
    top: 59.5%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


.showPopup {
    display: block;
}
.doBlur {
    filter: blur(8px);
}
