* {
    margin: 0;
    padding: 0;
}
body {
    font-size: calc(5px + 1vw);
    color: rgb(41, 37, 37);
    background-image: url("./whiteBackground.jpg");
    background-size: cover;
}
.container {
    padding-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    border: 2px solid red;
    width: 30%;
    display: flex;                      
    justify-content: center;
    border-radius: 8%;
    background-color: rgb(252, 221, 181);
}
.login-box {
    padding: 0px 20px 20px 20px;
    width: 80%;
    margin: 20px;
    background-color: rgb(240, 193, 132);
    box-shadow: 0px 0px 10px 8px rgb(221, 94, 55);
    display: flex;
    justify-content: center;
}  
#profile-form {
    width: 100%;
} 
.inpDiv{
    width: 100%;
}
input{
    font-size: calc(5px + 1vw);
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    border: none;
    height: calc(5px + 2vw);
    width: 80%;
    background: transparent;
}
#fnameProfile,#lnameProfile {
    width: 40%;
}
#username {
    display: flex;
}
#genderpf {
    width: 90%;
    font-size: calc(3px + 1vw);
    display: flex;
}
.icon {
    position: relative;
    padding: 10px;
    padding-top: 17px;
}
h3 {
    padding-top: calc(10px + 2vw);
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}
.profileIcon {
    font-size: calc(10px + 2vw);
    display: flex;
    justify-content: center;
    margin-top:10px ;
}

.photo {
    height: 110px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
}

.favourite,.logout{
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.favouriteIcon:hover{
    transform: scale(1.2);
}
.logoutIcon:hover{
    transform: scale(1.2);
}

#btnUpdate{
    margin: calc(2px + 1.5vw) 0px 5px 0px;
    width: 100%;
}

#addressProfile {
    margin-left: 5px;
}
.container2 {
    width: 25%;
            /* It will make the height according to the no. of new row *//* height: fit-content;     */
    padding: 5px;
    margin: 15px;               
    border-top: 3px solid rgb(116, 100, 100);    
    border-bottom: 3px solid rgb(70, 59, 59); /*border : width   style(dotted,solid,dashed etc)  color */
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px 10px  darkgray inset;
    overflow-x: auto;
    color: white;
    position: absolute;
    right: 30px;
    display: none;
}

h2 {
    font-size: calc(16px + 2vw);
    text-align: center;
    text-decoration: underline;
    margin-bottom:3px ;
    background: linear-gradient(to right ,red,blue);
    background-clip: text;
    color: transparent;
}
table,th,td {
    padding: 5px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border: 2px solid rgb(180, 155, 155);
    
}
table {
    width: 100%;  /*To take the total width according to the parent*/
}
tr:nth-child(even) {
    background-color: #b0b8b8;
}
.closeIconDiv {
    position: relative;
    display: flex;
    flex-direction:row-reverse;
    top: calc(5px + 1vw);
    right: calc(1px + 0.7vw);
    
}
.closeFavourite {
    cursor: pointer;
}
.closeFavourite:hover{
    transform: scale(1.2);
}

#favouriteForm>input::placeholder{
    padding-left: 10px;
}

.btnDelete {
    font-size: calc(1px + 1.5vw);
    margin: 8px;
}
.btnDelete:hover {
    transform: scale(1.1);
}
.displayBlock{
    display: block;
}
#openForm {
    background-color: rgb(66, 241, 159);
    border-radius:10px ;
    color: #464949;
    font-size: calc(6px + 1vw);
    margin: 8px;
    width: 80%;
    border: 2px solid rgb(4, 77, 40)
}
.Favourite-btn {
    background-color: rgb(235, 119, 65);
    border-radius:10px ;
    color: #464949;
    font-size: calc(5px + 1vw);
    margin-bottom: 8px;
    width: 80%;
    border: 2px solid rgb(236, 110, 7)
}
.update {
    width: 50%;
    margin: 0px auto;
    display: none;
}
#btnUpdate{
    font-weight: bolder;
    background: linear-gradient(45deg,#4f1919,#ff3333);
}
#btnUpdate:hover {
    background: linear-gradient(45deg,#ff3333,#4f1919);
    box-shadow: 0px 0px 6px 6px rgb(193 115 50);
    transform: scale(1.1);
}
.container:not(:focus-within){
    box-shadow: 0px 0px 10px 10px rgb(226, 122, 90);
}
.dropdown-form {
    display: none;
    border: 2px solid rgb(180, 155, 155);
    padding: 10px;
}
#favouriteForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.favouriteFormInput{
    padding-left: calc(5px + 1vw);
    color: #7a8383;
    border: 2px solid white;
    border-radius: 15px;
}
.favouriteFormInput:hover{
    background-color: white;
    
}


.updatePopup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    background-color:bisque;
    color: black;
    box-shadow: 10px 10px 5px rgb(138, 135, 135);
    width: 25%;
    height: calc(30px + 15vw);
    display: none;
    border: 2px solid black;
    z-index: 2;
}

.updateContent{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: calc(1px + 0.5vw);
    padding: calc(1px + 0.5vw);
}
#successIcon {
    position: relative;
    left: 35%;
    font-size: calc(5px + 5vw);
    margin: calc(1px + 0.2vw);
    padding: calc(1px + 0.2vw);
}

.updateContent>h4,p {
    padding: calc(1px + 0.5vw);
}
.updateContent>p {
    font-size: calc(3px + 1vw);
}

.loginPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    background-color:bisque;
    color: black;
    box-shadow: 10px 10px 5px rgb(138, 135, 135);
    width: 25%;
    height: calc(30px + 15vw);
    border: 2px solid black;
    z-index: 2;
}

.loginContent {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: calc(1px + 0.5vw);
    padding: calc(1px + 0.5vw);
}
#successIcon {
    position: relative;
    left: 35%;
    font-size: calc(5px + 5vw);
    margin: calc(1px + 0.2vw);
    padding: calc(1px + 0.2vw);
}
.loginContent>h4,p {
    padding: calc(1px + 0.5vw);
}
.loginContent>p {
    font-size: calc(3px + 1vw);
}

.logoutPopup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    background-color:bisque;
    color: black;
    box-shadow: 10px 10px 5px rgb(138, 135, 135);
    width: 25%;
    height: calc(30px + 15vw);
    z-index: 2;
}
.logoutContent {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: calc(1px + 0.5vw);
    padding: calc(1px + 0.5vw);
}
#logoutWarnIcon {
    position: relative;
    left: 35%;
    font-size: calc(5px + 5vw);
    margin: calc(1px + 0.2vw);
    padding: calc(1px + 0.2vw); 
}
.logoutContent>h4,p {
    padding: calc(1px + 0.5vw);
}
.logoutContent>p {
    font-size: calc(3px + 1vw);
}
.btn {
    border: none;
    margin: 3px;
}
#btnCancelPopup {
    background-color: beige;
    margin: 3px;
    display: flex;
    float: right;
    padding: calc(1px + 0.5vw);
    border: none;
    border-radius: 15px;
    border: 2px solid grey;
    box-shadow: 0 9px #999;
}
#btnCancelPopup:active {
    box-shadow: 0 5px #555151;
    transform: translateY(4px);
}
#btnLogoutPopup {
    background-color: #ff3333;
    margin: 3px;
    display: flex;
    float: right;
    padding: calc(1px + 0.5vw);
    border: none;
    border-radius: 15px;
    border: 2px solid grey;
    box-shadow: 0 9px #999;
}
#btnCancelPopup:active {
    box-shadow: 0 5px #555151;
    transform: translateY(4px);
}
.showPopup {
    display: block;
}
.doBlur {
    filter: blur(8px);
}
.errorEffect {
    border: 2px solid red;
    box-shadow: 0px 0px 20px 3px rgb(240, 96, 96);
}
.err-msg {
    font-size: calc(2px + 1vw);
    font-family:sans-serif;
    font-style: italic;
    margin-left: 3%;
    color: red;
}
#favNameErr {
    position: relative;
    bottom: calc(8px + 2vw);
    right: 12%;
}
#favItemErr {   
    position: relative;
    bottom: calc(8px + 2vw);
    right: 12%;
}

